{{!< default}}

{{#post}}

<header id="blog-header"{{#if @blog.cover_image}} class="has-cover"{{/if}}>
	<div class="inner">
		<nav id="navigation">
			{{#if @blog.navigation}}
			<span id="menu-button" class="nav-button">
				<a class="menu-button"><i class="ic ic-menu"></i> Menu</a>
			</span>
			{{/if}}
		</nav>
		<a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog logo" style="margin: 0"/></a>
		{{#if @blog.cover_image}}
		<div class="blog-cover cover" style="background-image: url('{{img_url @blog.cover_image}}');"></div>
		{{/if}}
	</div>
</header>

<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">
		
			<section class="post-content">
				{{content}}
			</section>

		</div>
	</article>
</main>

{{/post}}